*.DS_Store
*.swp
*.pyc
version.py
build/
data/
docs/src/
docs/html/
encoding/_ext/
encoding.egg-info/
torch_encoding.egg-info/
encoding/lib/*pu/*.o
encoding/lib/*pu/*.so
encoding/lib/*pu/*ninja*
encoding/lib/*pu/*.egg-info/
encoding/lib/*pu/dist/
experiments/segmentation/outdir/
.vscode/
danet/cityscapes/danet_vis/
danet/cityscapes/model/*
danet/pretrain_models/
danet/lcd/models
danet/lcd/tf_ckpts